body {
  background-color: rgb(60, 60, 60);
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: rgb(79, 131, 183);
  text-align: center;
}

p {
  color: azure;
  text-align: center;
}

a {
  color: azure;
  text-decoration-style: dotted;
  font-weight: bold;
}
